//head.jade
head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    if meta_description
        meta(name='description', content=meta_description)
    if meta_keywords
        meta(name='keywords', content=meta_keywords)
    if noindex
        meta(name='robots', content='noindex,nofollow')
    link(rel="stylesheet",href="assets/css/style.css")
    include share.jade
//end head.jade
