extends templates/index
block vars
    - var title ="New project";
    - var soc_title = "New project";
    - var soc_description = "New project description";
    - var soc_image = "http://example.org/assets/img/soc_image.jpg";
    - var soc_image_alt = "New project alt text";
    - var soc_url = "http://example.org/index.html";
    - var meta_description ='';
    - var meta_keywords='';
    - var noindex=true;
block content