@media only screen and (min-width: 544px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 544px) and (min-device-pixel-ratio: 2),
only screen and (min-width: 544px) and (min-resolution: 192dpi),
only screen and (min-width: 544px) and (min-resolution: 2dppx) {

}